<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- name can be anything like abc or xyz -->
<bean name="employeeRepository"
class="com.eranda.training.salesmanager.repository.HibernateEmployeeRepositoryImpl"/>

<!-- Autowiring by constructor is similar to byType, but applies to constructor arguments. In autowire
enabled bean, it will look for class type of constructor arguments, and then do a autowire by type on all
constructor arguments. Please note that if there isn’t exactly one bean of the constructor argument type in
the container, a fatal error is raised. -->
<bean name="employeeService"
class="com.eranda.training.salesmanager.service.EmployeeServiceImpl"
autowire="constructor"/>

<!-- byType specifies autowiring by property type not by name.
Spring container reads the XML configuration file and for the beans on which autowire attribute is set to byType, it finds and inject that bean according to the type match
-->
<!-- <bean name="employeeService"
class="com.eranda.training.salesmanager.service.EmployeeServiceImpl"
autowire="byType"/> -->

<!-- Must have a setter method for the property -->
<!-- <bean name="employeeService"
class="com.eranda.training.salesmanager.service.EmployeeServiceImpl"
autowire="byName"/> -->

</beans>
