<div class="site-wrap">
  <!--Main Details section starts-->
  <div class="main-details-section" data-aos="fade">
    <div class="container-fluid main-details-container">
      <div class="row align-items-center">
        <!--main-details div starts-->
        <div class="main-details col-lg-4 ml-auto order-lg-2 align-self-start">
          <h5 class="sub-title">{{ smartphoneDetails.brandName }}</h5>
          <h1 class="main-title">
            <b>{{ smartphoneDetails.model }}</b>
          </h1>
          <hr />
          <div class="main-specs-container">
            <div class="main-spec">
              <img
                class="main-spec-icon"
                src="assets/images/touchscreen-technology.png"
              />
              <h4>{{ smartphoneDetails.display.size }}"</h4>
              <p>
                {{ smartphoneDetails.display.verticalPixels }}x{{
                  smartphoneDetails.display.horizontalPixels
                }}
                pixels
              </p>
            </div>
            <div class="main-spec">
              <img class="main-spec-icon" src="assets/images/camera.png" />
              <h4>{{ getMaxCameraPixels() }}MP</h4>
              <p>{{ getMaxVideoResolution() }}p</p>
            </div>
            <div class="main-spec">
              <img class="main-spec-icon" src="assets/images/processor.png" />
              <h4>{{ smartphoneDetails.ram }}GB RAM</h4>
              <p>
                {{ smartphoneDetails.chipset.modelName }}
              </p>
            </div>
            <div class="main-spec">
              <img class="main-spec-icon" src="assets/images/battery.png" />
              <h4>{{ smartphoneDetails.battery.capacity }}mAh</h4>
              <p>
                {{ smartphoneDetails.battery.electrolyte }}
              </p>
            </div>
          </div>
        </div>
        <!--main-details div ends-->

        <!--main-details-images div starts-->
        <div class="main-details-images col-lg-8 order-1 align-self-end">
          <div class="site-section">
            <div class="container">
              <div class="row">
                <div class="col-md-12 block-3 products-wrap">
                  <owl-carousel-o [options]="customOptions">
                    <ng-container
                      *ngFor="let smartphoneImage of smartphoneImages"
                    >
                      <ng-template carouselSlide>
                        <div class="smartphone-image">
                          <img
                            class="img-fluid"
                            src="{{ smartphoneImage.fullImageUrl }}"
                            alt="Image"
                          />
                        </div>
                      </ng-template>
                    </ng-container>
                  </owl-carousel-o>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--main-details-images div ends-->
      </div>
    </div>
  </div>
  <!--Main Details section ends-->

  <!--Specifications List section starts-->
  <div id="specs-list">
    <style type="text/css">
      .tr-toggle {
        display: none;
      }
    </style>

    <table cellspacing="0">
      <tbody>
        <tr>
          <th rowspan="2" scope="row">Launch</th>
          <td class="ttl">Announced</td>
          <td class="nfo" data-spec="year">
            {{ smartphoneDetails.manufactureYear }},
            {{ smartphoneDetails.manufactureMonth }}
          </td>
        </tr>
      </tbody>
    </table>

    <table cellspacing="0">
      <tbody>
        <tr>
          <th rowspan="5" scope="row">Display</th>
          <td class="ttl">Type</td>
          <td class="nfo" data-spec="displaytype">
            {{ smartphoneDetails.display.type }},
            {{ smartphoneDetails.display.colorGamut }}
          </td>
        </tr>
        <tr>
          <td class="ttl">Size</td>
          <td class="nfo" data-spec="displaysize">
            {{ smartphoneDetails.display.size }} inches
          </td>
        </tr>
        <tr>
          <td class="ttl">Resolution</td>
          <td class="nfo" data-spec="displayresolution">
            {{ smartphoneDetails.display.verticalPixels }} x
            {{ smartphoneDetails.display.horizontalPixels }} pixels,
            {{ smartphoneDetails.display.ratio }} ratio (~{{
              smartphoneDetails.display.pixelDensity
            }}
            ppi density)
          </td>
        </tr>
        <tr>
          <td class="ttl">Protection</td>
          <td class="nfo" data-spec="displayprotection">
            {{ smartphoneDetails.display.glassType }}
          </td>
        </tr>
      </tbody>
    </table>

    <table cellspacing="0">
      <tbody>
        <tr>
          <th rowspan="4" scope="row">Platform</th>
          <td class="ttl">OS</td>
          <td class="nfo" data-spec="os">
            {{ smartphoneDetails.androidVersion }}
          </td>
        </tr>
        <tr>
          <td class="ttl">Chipset</td>
          <td class="nfo" data-spec="chipset">
            {{ smartphoneDetails.chipset.brandName }}
            {{ smartphoneDetails.chipset.modelNumber }}
            {{ smartphoneDetails.chipset.modelName }} ({{
              smartphoneDetails.chipset.architecture
            }})
          </td>
        </tr>
        <tr>
          <td class="ttl">CPU</td>
          <td class="nfo" data-spec="cpu">
            {{ smartphoneDetails.chipset.cpu }}
          </td>
        </tr>
        <tr>
          <td class="ttl">GPU</td>
          <td class="nfo" data-spec="gpu">
            {{ smartphoneDetails.chipset.gpu }}
          </td>
        </tr>
      </tbody>
    </table>

    <table cellspacing="0">
      <tbody>
        <tr>
          <th rowspan="5" scope="row">Memory</th>
          <td class="ttl">Card slot</td>

          <td class="nfo" data-spec="memoryslot">
            {{ smartphoneDetails.externalMemory }}
          </td>
        </tr>

        <tr>
          <td class="ttl">Internal</td>
          <td class="nfo" data-spec="internalmemory">
            {{ smartphoneDetails.internalMemory }}GB,
            {{ smartphoneDetails.ram }}GB RAM
          </td>
        </tr>
      </tbody>
    </table>

    <table cellspacing="0">
      <tbody>
        <tr>
          <th rowspan="4" scope="row" class="small-line-height">Main Camera</th>
          <td class="ttl">{{ smartphoneDetails.cameraSetup }}</td>
          <td class="nfo" data-spec="cam1modules">
            <div *ngFor="let smartphoneCamera of smartphoneCameras">
              <span *ngIf="smartphoneCamera.pixels != 0">
                {{ smartphoneCamera.pixels }}MP,
              </span>

              <span *ngIf="smartphoneCamera.aperture != null">
                {{ smartphoneCamera.aperture }},
              </span>

              <span *ngIf="smartphoneCamera.focalLength != null">
                {{ smartphoneCamera.focalLength }}mm
              </span>

              <span *ngIf="smartphoneCamera.fieldOfView != null">
                ({{ smartphoneCamera.fieldOfView }}),
              </span>

              <span *ngIf="smartphoneCamera.sensorSize != null">
                {{ smartphoneCamera.sensorSize }}",
              </span>

              <span *ngIf="smartphoneCamera.specialFeature != null">
                {{ smartphoneCamera.specialFeature }}
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="ttl">Video</td>
          <td class="nfo" data-spec="cam1video">
            <div *ngFor="let smartphoneVideoCamera of smartphoneVideoCameras">
              {{ smartphoneVideoCamera.resolution }}p@{{
                smartphoneVideoCamera.fps
              }}fps
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <table cellspacing="0">
      <tbody>
        <tr>
          <th rowspan="7" scope="row">Battery</th>
          <td class="ttl">&nbsp;</td>
          <td class="nfo" data-spec="batdescription1">
            {{ smartphoneDetails.battery.removability }}
            {{ smartphoneDetails.battery.electrolyte }}
            {{ smartphoneDetails.battery.capacity }}mAh battery
          </td>
        </tr>
        <tr>
          <td class="ttl">Charging</td>
          <td class="nfo">
            {{ smartphoneDetails.battery.charging }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--Specifications List section ends-->

  <br />
  <br />

  <!--Available Smartphone Dealers section starts-->
  <div class="products-wrap border-top-0 dealer-list">
    <div class="container">
      <div class="row align-items-center">
        <div class="title-section text-center col-12">
          <h2 class="text-uppercase" style="margin-bottom: 0">
            <b>Available Dealers</b>
          </h2>
          <hr style="background-color: gainsboro; margin-top: 0" />
        </div>
      </div>
      <br />

      <div *ngIf="smartphoneDealers.length == 0">
        <h3>This Phone is Currently Not Available in Sri Lanka!</h3>
      </div>

      <div class="row no-gutters products">
        <div class="col-md-12 block-3 products-wrap dealers">
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let smartphoneDealer of smartphoneDealers">
              <ng-template carouselSlide>
                <a
                  (click)="
                    showSmartphoneDealerDetails(smartphoneDealer.dealerName)
                  "
                  class="item"
                >
                  <div class="dealer">
                    <img
                      class="img-fluid"
                      src="assets/images/{{
                        smartphoneDealer.dealerName.toLowerCase()
                      }}.png"
                      alt="Dealer-Logo"
                    />
                  </div>
                </a>
                <br />
                <br />
                <br />
                <br />
                <div class="dealer-price">
                  <span class="collection d-block">Available for</span>
                  <h3><small>LKR </small>{{ smartphoneDealer.price }}</h3>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
  <!--Available Smartphone Dealers section ends-->

  <br />
  <br />
</div>
