.container-fluid {
  padding: 30px;
  background-image: url("src/assets/images/background-1.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  background-color: gainsboro;
  margin-top: 0;
}

.product {
  cursor: pointer;
}

.products,
.product {
  border-left: 1px solid #eee;
}

.products > [class*="col-"],
.product > [class*="col-"] {
  border-right: 1px solid #eee;
  text-align: center;
}

.products .item,
.product .item {
  text-align: center;
  display: block;
  position: relative;
  border-bottom: 1px solid #eee;
}

.products .item .tag,
.product .item .tag {
  position: absolute;
  background: #ffe5ae;
  color: #000;
  letter-spacing: 0.2em;
  padding: 7px 20px;
  font-size: 0.8rem;
  font-weight: 900;
  top: 0;
  left: 0;
  text-transform: uppercase;
  z-index: 2;
  -webkit-transform: rotate(-90deg) translateX(-100%) translateY(-70%);
  -ms-transform: rotate(-90deg) translateX(-100%) translateY(-70%);
  transform: rotate(-90deg) translateX(-100%) translateY(-70%);
}

.products .item img,
.product .item img {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  z-index: 1;
  position: relative;
}

.products .item:hover img,
.product .item:hover img {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.products .item .item-info,
.product .item .item-info {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.products .item .item-info h3,
.product .item .item-info h3 {
  color: #000;
  font-size: 1.5rem;
}

@media (max-width: 991.98px) {
  .products .item .item-info h3,
  .product .item .item-info h3 {
    font-size: 1rem;
  }
}

.products .item .item-info .collection,
.product .item .item-info .collection {
  color: gray;
}

@media (max-width: 991.98px) {
  .products .item .item-info .collection,
  .product .item .item-info .collection {
    font-size: 0.9rem;
  }
}

.products .item .item-info .price,
.product .item .item-info .price {
  color: #000;
  font-size: 1.5rem;
}

.products .item .item-info .price del,
.product .item .item-info .price del {
  color: #adb5bd;
  margin-left: 2%;
}

@media (max-width: 991.98px) {
  .products .item .item-info .price,
  .product .item .item-info .price {
    font-size: 1rem;
  }
}

.block-3 .product {
  border-right: none !important;
  border-left: none !important;
}

.block-3 .product .item {
  border: 1px solid #eee;
}

.product-item {
  overflow: hidden;
  height: 100%;
  position: relative;
}

.product-item .product-category {
  position: absolute;
  display: inline-block;
  padding: 10px 30px;
  background: #fff;
  color: #000;
  z-index: 8;
  top: 60%;
  left: 50%;
  font-size: 20px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.product-item .product-category span {
  color: #ced4da;
  font-size: 12px;
}

.product-item .product-category:hover {
  background: #000;
  color: #fff;
}

.product-item .product-category:hover span {
  color: rgba(255, 255, 255, 0.5);
}

.product-item.full-height {
  height: 100% !important;
}

@media (max-width: 991.98px) {
  .product-item.full-height {
    height: 300px !important;
    margin-bottom: 30px;
  }
}

.product-item.bg-gray {
  background: #f9f9f9;
}

.product-item.sm-height {
  height: 300px;
  padding: 40px;
}

.product-item.md-height {
  height: 700px;
  padding: 40px;
}

.product-item img {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
  -ms-transform: translate(-50%, -50%) scale(0.7);
  transform: translate(-50%, -50%) scale(0.7);
  position: absolute;
}

.item-entry .product-item {
  margin-bottom: 30px;
}
