/FileReader_UppercaseOverride/nbproject/private/
/FileReader_FileWriter/nbproject/private/
/FileReader_FileWriter/build/
/FileReader_FileWriter/dist/
/InputStream_OutputStream/nbproject/private/
/InputStream_OutputStream/build/
/FileReader_UppercaseOverride/build/