<footer class="site-footer custom-border-top" style="background-color: #999">
  <div class="container">
    <div class="row">
      <!--About section starts-->
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <div class="block-7">
          <h3 class="footer-heading mb-4">About</h3>
          <p style="color: whitesmoke">
            Sri Lanka's Best Online Space to Find the Best Smartphone for Your
            Budget-in-Hand!<br /><br />It's Absolutely FREE!
          </p>
        </div>
      </div>
      <!--About section ends-->

      <!--Quick Links section starts-->
      <div class="col-lg-4 ml-auto mb-5 mb-lg-0">
        <div class="row">
          <div class="col-md-12">
            <h3 class="footer-heading mb-4">Quick Links</h3>
          </div>
          <div class="col-md-6 col-lg-8">
            <ul class="list-unstyled">
              <li>
                <a href="https://www.dialcom.lk/">Dialcom - Official Website</a>
              </li>
              <li>
                <a href="https://www.techmart.lk/"
                  >Techmart - Official Website</a
                >
              </li>
              <li>
                <a href="https://www.celltronics.lk/"
                  >Celltronics - Official Website</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--Quick Links section ends-->

      <!--Contact Info section starts-->
      <div class="col-md-6 col-lg-3">
        <div class="block-5 mb-4">
          <h3 class="footer-heading mb-4">Contact Info</h3>
          <ul class="list-unstyled">
            <fa-icon class="icon" [icon]="faLocationArrow"></fa-icon>
            <li class="address">
              203 Fake St. Mountain View, Colombo, Sri Lanka
            </li>
            <fa-icon class="icon" [icon]="faPhone"></fa-icon>
            <li class="phone">
              <a href="tel://0112210210">+94 11 2 210 210</a>
            </li>
            <fa-icon class="icon" [icon]="faAddressCard"></fa-icon>
            <li class="email">info@cellterion.com</li>
          </ul>
        </div>
      </div>
      <!--Contact Info section ends-->
    </div>

    <!--Copyright section starts-->
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <p style="color: whitesmoke">
          Copyright &copy; {{ currentYear }} All Rights Reserved |
          cellterion&trade;
        </p>
      </div>
    </div>
    <!--Copyright section ends-->
  </div>
</footer>
