<div
  class="site-blocks-cover"
  style="background-color: gainsboro; top: -35px"
  data-aos="fade"
  data-aos-duration="1000"
  data-aos-delay="800"
  data-aos-easing="slide"
  data-aos-once="true"
>
  <div class="container">
    <br />
    <br />
    <div class="row align-items-center">
      <div class="col-lg-5 text-center">
        <br />
        <br />
        <br />
        <br />
        <div class="featured-hero-product w-100">
          <h1 class="mb-2">Let's Find a Phone</h1>
          <h4>We'll Help You to Find the Best Phone for Your Budget</h4>
          <br />
          <div class="container">
            <div class="cntr">
              <div class="cntr-innr">
                <div>
                  <form
                    [formGroup]="form"
                    id="search_form"
                    method="post"
                    (ngSubmit)="search.valid && showBudgetResults()"
                  >
                    <div class="form-group">
                      <label class="search" for="inpt_search">
                        <input
                          (paste)="noPaste($event)"
                          (keypress)="numericOnly($event)"
                          formControlName="search"
                          id="inpt_search"
                          placeholder="Type in Your Budget and Hit Enter..."
                          class="searchBox"
                          type="number"
                          autocomplete="off"
                        />
                      </label>
                      <br />
                      <small
                        *ngIf="search.dirty && search.invalid"
                        class="alert alert-danger speech-bubble"
                      >
                        <small *ngIf="search.errors.required">
                          Budget is required to search!
                        </small>
                        <small *ngIf="search.errors.min">
                          Hmm... A smartphone won't be available for that price,
                          don't you think?
                          <i>
                            <svg
                              width="1em"
                              height="1em"
                              viewBox="0 0 16 16"
                              class="bi bi-emoji-smile"
                              fill="currentColor"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                              <path
                                fill-rule="evenodd"
                                d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z"
                              />
                              <path
                                d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"
                              />
                            </svg>
                          </i>
                        </small>
                      </small>
                    </div>
                  </form>
                </div>
                <br />
                <p class="text-muted search_hint" style="margin-bottom: 0">
                  <small>Mouse-over the Magnifying Glass</small>
                </p>
                <small class="text-danger currency_hint" style="margin-top: 0"
                  >NOTE: This site's currency is LKR!</small
                >
                <br />
                <br />
                <br />
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-7 align-self-end text-center text-lg-right"
        style="pointer-events: none; z-index: -5"
      >
        <img src="assets/images/girl.png" alt="Image" class="img-fluid img-1" />
      </div>
    </div>
  </div>
</div>
