<div
  class="site-blocks-cover"
  style="background-color: gainsboro; top: -35px"
  data-aos="fade"
  data-aos-duration="1000"
  data-aos-delay="800"
  data-aos-easing="slide"
  data-aos-once="true"
>
  <div class="container">
    <br />
    <br />
    <div class="row align-items-center">
      <div class="col-lg-5 text-center">
        <br />
        <br />
        <br />
        <br />
        <div class="featured-hero-product w-100">
          <h1 class="mb-2">Let's Find a Phone</h1>
          <h4>We'll Help You to Find the Best Phone for Your Budget</h4>
          <br />
          <div class="container">
            <div class="cntr">
              <div class="cntr-innr">
                <div>
                  <form
                    [formGroup]="form"
                    id="search_form"
                    method="post"
                    (ngSubmit)="search.valid && showBudgetResults()"
                  >
                    <div class="form-group">
                      <label class="search" for="inpt_search">
                        <input
                          (paste)="noPaste($event)"
                          (keypress)="numericOnly($event)"
                          formControlName="search"
                          id="inpt_search"
                          placeholder="Type in Your Budget and Hit Enter..."
                          class="searchBox"
                          type="number"
                          autocomplete="off"
                        />
                      </label>
                      <br />
                      <small
                        *ngIf="search.dirty && search.invalid"
                        class="alert alert-danger speech-bubble"
                      >
                        <small *ngIf="search.errors.required">
                          Budget is required to search!
                        </small>
                        <small *ngIf="search.errors.min">
                          Hmm... A smartphone won't be available for that price,
                          don't you think?
                          <fa-icon [icon]="faGrinBeamSweat"></fa-icon>
                        </small>
                      </small>
                    </div>
                  </form>
                </div>
                <br />
                <p class="text-muted search_hint" style="margin-bottom: 0">
                  <small>Mouse-over the Magnifying Glass</small>
                </p>
                <small class="text-danger currency_hint" style="margin-top: 0"
                  >NOTE: This site's currency is LKR!</small
                >
                <br />
                <br />
                <br />
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-7 align-self-end text-center text-lg-right"
        style="pointer-events: none; z-index: -5"
      >
        <img src="assets/images/girl.png" alt="Image" class="img-fluid img-1" />
      </div>
    </div>
  </div>
</div>
