<div
  class="site-section"
  data-aos="fade"
  data-aos-duration="1000"
  data-aos-delay="800"
  data-aos-easing="slide"
  data-aos-once="true"
>
  <div class="container">
    <div class="title-section text-center">
      <h1>Sign In</h1>
      <h2 class="text-uppercase">
        for the best content and a personalized experience!
      </h2>
      <hr />
      <form class="form-signin" [formGroup]="form" (ngSubmit)="signIn()">
        <div *ngIf="invalidLogin" class="alert alert-danger">
          Invalid username and/or password.
        </div>
        <div class="form-group mb-5">
            <mat-form-field class="form-field">
              <mat-label>Email Address</mat-label>
              <mat-icon matPrefix>mail &nbsp;</mat-icon>
              <input matInput type="text" [formControl]="email" placeholder="Ex. name@domain.com">
              <button type="button" mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="clearEmail()">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="email.invalid && email.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group mb-5">
          <mat-form-field class="form-field">
            <mat-label>Password</mat-label>
            <mat-icon matPrefix>lock &nbsp;</mat-icon>
            <input matInput type="text" [formControl]="password">
            <mat-error *ngIf="email.invalid && email.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <button
          class="btn btn-lg btn-primary btn-block rounded-pill"
          type="submit"
        >
          Sign in
        </button>
      </form>

      <hr />
      <h2>
        No Account? No worries! Join with us below!
      </h2>
      <button
        class="btn btn-xm btn-success btn-block rounded-pill"
        routerLink="/signup"
      >
        Sign Up
      </button>
    </div>
  </div>
</div>
