hr {
  background-color: gainsboro;
}

.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("src/assets/images/background-1.jpg");
  filter: blur(4px);
  -webkit-filter: blur(4px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.form-group {
  padding: 10px 30px 10px 30px;
  background: rgba(25, 25, 25, 0.2);
}

input,
mat-label {
  margin-left: 10px;
}

.form-field {
  width: 100%;
}

.site-section h1,
.site-section h2 {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 0;
  color: white;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .site-section h1 {
    font-size: 70px;
  }
}

.site-section h2 {
  font-size: 14px;
  font-weight: normal;
  text-shadow: 2px 2px 2px black;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.container {
  margin-top: 80px;
}

@media (max-width: 768px) {
  .container {
    margin-top: 100px;
  }
}

/* Validation */

/* .form-control.ng-touched.ng-invalid {
  border: 1px solid red;
  box-shadow: 0 0 10px red;
} */

/* Validation */
