<div
  id="navbar"
  class="site-navbar bg-white py-2"
  data-aos="fade-down"
  data-aos-duration="1000"
  data-aos-delay="500"
  data-aos-easing="linear"
>
  <div id="blurred-bg"></div>
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <!--Logo section starts-->
      <div class="logo">
        <div class="site-logo">
          <a
            routerLink="/home"
            class="js-logo-clone"
            title="Your Smartphone Buying Assistant | www.cellterion.com"
            ><img
              src="assets/images/cellterion.png"
              alt="logo"
              title="Your Smartphone Buying Assistant | www.cellterion.com"
              style="height: 100px"
          /></a>
        </div>
      </div>
      <!--Logo section ends-->

      <!--Navigation Menu section starts-->

      <div class="main-nav d-none d-lg-block">
        <nav
          class="site-navigation text-right text-md-center"
          role="navigation"
        >
          <ul
            class="site-menu js-clone-nav d-none d-lg-block"
            style="color: white"
          >
            <li routerLinkActive="active current">
              <a routerLink="/home">Home</a>
            </li>

            <li
              *ngIf="authService.isLoggedIn() && authService.currentUser.admin"
              routerLinkActive="active current"
            >
              <a routerLink="/admin">Admin</a>
            </li>
            <li
              *ngIf="!authService.isLoggedIn()"
              routerLinkActive="active current"
            >
              <a routerLink="/login">Login</a>
            </li>
            <li *ngIf="authService.isLoggedIn()">
              <a (click)="authService.logout()">Logout</a>
            </li>
            <li class="has-children" routerLinkActive="active current">
              <a>Featured Brands</a>
              <ul class="dropdown">
                <li
                  routerLinkActive="active current"
                  [routerLink]="['/brand', 'Sony']"
                >
                  <a class="brand">Sony</a>
                </li>
                <li
                  routerLinkActive="active current"
                  [routerLink]="['/brand', 'Samsung']"
                >
                  <a class="brand">Samsung</a>
                </li>
                <li
                  routerLinkActive="active current"
                  [routerLink]="['/brand', 'Apple']"
                >
                  <a class="brand">Apple</a>
                </li>
                <li
                  routerLinkActive="active current"
                  [routerLink]="['/brand', 'Oneplus']"
                >
                  <a class="brand">One Plus</a>
                </li>
                <li
                  routerLinkActive="active current"
                  [routerLink]="['/brand', 'Nokia']"
                >
                  <a class="brand">Nokia</a>
                </li>
                <li
                  routerLinkActive="active current"
                  [routerLink]="['/brand', 'Xiaomi']"
                >
                  <a class="brand">Xiaomi</a>
                </li>
              </ul>
            </li>

            <li class="has-children" routerLinkActive="active current">
              <a>Smartphone Dealers</a>
              <ul class="dropdown">
                <li
                  routerLinkActive="active current"
                  [routerLink]="['/dealer', 'Dialcom']"
                >
                  <a class="dealer">Dialcom</a>
                </li>
                <li
                  routerLinkActive="active current"
                  [routerLink]="['/dealer', 'Techmart']"
                >
                  <a class="dealer">Techmart</a>
                </li>
                <li
                  routerLinkActive="active current"
                  [routerLink]="['/dealer', 'Celltronics']"
                >
                  <a class="dealer">Celltronics</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

      <a class="site-menu-toggle js-menu-toggle ml-1 d-inline-block d-lg-none"
        ><span class="icon-menu"></span
      ></a>
      <!--Navigation Menu section ends-->
    </div>
  </div>
  <hr style="background-color: #999; width: 100%" />
</div>
